{% extends "layout.html" %}

{% block title %}
    Funds
{% endblock %}

{% block main %}
    <div>
        <p>Current cash balance is <strong>${{ cash }}</strong>.</p>
    </div>
    <form action="/funds" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="funds" placeholder="Add funds between $20 and $500" min="20" max="500" type="number" required>
        </div>
        <button class="btn btn-primary" type="submit">Add Funds</button>
    </form>
{% endblock %}
