{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div>
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                        <th class="{{ header | lower }}-theader">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the database entries to display stock transactions in this table -->
                {% for transaction in transactions %}
                    <tr>
                        <td class="symbol-data">{{ transaction.symbol | upper }}</td>
                        <td>{{ transaction.shares }}</td>
                        <td>{{ transaction.price | usd }}</td>
                        <td>{{ transaction.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
