{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div>
        <h2>Purchase was a {{success}}.</h2>
        <table>
            <thead>
                <tr>
                    <th class="symbol-theader">Symbol</th>
                    <th class="shares-theader">Shares</th>
                    <th class="price-theader">Price</th>
                    <th class="total-theader">Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the database entries to display stock transactions in this table -->
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.symbol }}</td>
                        <td>{{ transaction.shares }}</td>
                        <td>{{ transaction.price }}</td>
                        <td>{{ transaction.total_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
