{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div>
        <div class="alert alert-success d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            An example success alert with an icon
          </div>
        </div>
        {% if success %}
            <h2 class="alert">{{success}}.</h2>
        {% endif %}
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                        <th class="{{ header | lower }}-theader">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the database entries to display stock transactions in this table -->
                {% for stock in stocks %}
                    <tr>
                        <td class="symbol-data">{{ stock['symbol'] | upper }}</td>
                        <td>{{ stock['shares'] }}</td>
                        <td>{{ stock['current_price'] | usd }}</td>
                        <td>{{ stock['total_value'] | usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                    <td class="border-0 text-end">{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                    <td class="border-0 text-end">{{ total_account_value | usd }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
