{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div>
        {{ symbol }}
        {{ symbol["name"] }}
        {{ symbol["price"] }}
        {{ symbol["symbol"] }}
        <p>
            <!-- Loop through the symbol results to display them -->
            {% for symbols in symbol %}
                {{ symbol["name"] }}
                {{ symbol["price"] }}
                {{ symbol["symbol"] }}
            {% endfor %}
        </p>
    </div>
    <div>
        <a class="nav-link" href="/quote">Get a new quote</a>
    </div>
{% endblock %}
