{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div>
        {{ name }}
        {{ price }}
        {{ symbol }}
        <p>
            <!-- Loop through the symbol results to display them -->
            {% for symbols in symbol %}
            {{ symbol }}
                {{ symbols["name"] }}
                {{ symbols["price"] }}
                {{ symbols["symbol"] }}
            {% endfor %}
        </p>
    </div>
    <div>
        <a class="nav-link" href="/quote">Get a new quote</a>
    </div>
{% endblock %}
